<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <section id="login" v-bind:class="isShake">
      <form>
       <h2>Login</h2>
       <div class="info" v-bind:class="good">   
       </div>
       <input type="text" v-model="login.login" placeholder="Username" />
       <input type="password" v-model="login.password" placeholder="Password" />
       <button @click="onSubmit">Log in</button>
      </form>
     </section>
</head>
<body>
  <script>
    var vue = new Vue({
      el: "#login",
      data: {
        alert: {
          message: "Faça login"
        },
        login: {
          login: "",
          password: ""
        },
        shake: false,
        good: "",
        fake: {
          login: "sarat",
          password: "admin"
        }
      },
      computed: {
        isShake: function(){
          console.log(this.shake);
          if(this.shake == true){
            return 'shake'
          }
          return 'none'
        }
      },
      methods: {
        onSubmit: function(event) {
          event.preventDefault();
          this.shake = false
          setTimeout(function(){
            if (
            this.fake.login == this.login.login &&
            this.fake.password == this.login.password
          ) {
            this.alert.message = "Voce está logado !";
          } else {
            this.shake = true;
            this.alert.message = "Você errou sua senha ou seu email tente novamente !";
          }
          },3000)
          console.log(this.shake)
          
        }
      }
    });
  </script>
  </div>
</body>
</html>